*{
	margin: 0;
	padding: 0;
	font-family:  "微软雅黑" "宋体"; 
}
html{
background-color: #F3F7FA;	
}
#all{
	width: 1349px;
	
}
#left{
	width:100px;
	height:700px;
	float: left;
	
}
#right{
	width:1249px;
}
#left ul{
	padding-top: 10px;
	list-style-type:none;
	background-color:#222D31 ;
	height:100%;
	
}
#left ul li{
	display: block;
	width:100px;
	height:40px;
	text-align: center;
	line-height: 40px;
	
}
#left ul li a{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 10px;
}
#left ul li img{
	width:20px ;
	height:20px;
}

#left ul li:hover{
	background-color: #3C8DBC;
	
}
#right{
	width: 1219px;
	margin:10px 15px 10px 15px;
	background-color: #F3F7FA;
	float: left;
	height:100%;
}
#right #top{
	width: 1219px;
	height: 200px;
	margin-bottom: 10px;
}

#right #top #top_top{
	width: 1217px;
	height: 35px;
	background-color: white;
	border: #F3F7FA solid 1px;
}

#right #top #top_top p{
	line-height: 35px;
	font-size: 15px;
	font-weight: bold;
}
#right #top #top-bottom{
	width: 1197px;
	height: 136px;
	background-color: white;
	border: #F3F7FA solid 1px;
	padding: 20px 15px 5px 5px;
}
#right #top #top-bottom>div{
	width: 290px;
	height: 130px;
	background-color:blue ;
	float: left;
	margin-right:8px;
	
}
.top_left{
	width: 25px;
	height:90px;
	padding:20px 10px 20px 10px;
	background-color: gold;
	text-align: center;
	line-height: 20px;
	float: left;
	font-size: 15px;
	color: white;
}
.top_right{
	width: 245px;
	height: 110px;
	background-color: green;
	float: left;
	padding-top: 20px;
	
}
.top_right>p{
	width:200px;
	margin: 0 auto;
	color: white;
	line-height:25px;
	font-size: 10px;
	
}
#right #center{
	width: 1219px;
	height: 300px;
	margin-bottom: 10px;
}
#right #center #center_top{
	width: 1217px;
	height: 35px;
	background-color: white;
	border: #F3F7FA solid 1px;
	line-height: 35px;
	font-size: 15px;
	font-weight: bold;
}
#right #center #center-bottom{
	width: 1207px;
	height: 236px;
	background-color: white;
	border: #F3F7FA solid 1px;
	padding: 25px 0px 0px 10px;
}
 .center_box{
 	height:220px;
 	width:290px;
 	margin-right: 5px;
 	border: #F3F7FA solid 1px;
 	float: left;
 }
 .center_box_top{
 	height:29px;
 	width: 280px;
 	border-bottom:#F3F7FA 1px solid;
 	font-size: 15px;
 	line-height: 30px;
 	font-weight: bold;
 	padding-left: 10px;
 	

 }
.center_box_buttom{
	width: 290px;
	height: 190px;
	
}

#right #bottom{
	width: 1219px;
	height: 150px;
}
#right #bottom #bottom_top{
	width:1217px;
	height:35px;
	background-color: white;
	border: #F3F7FA solid 1px;
	line-height: 35px;
	font-size: 15px;
	font-weight: bold;
}
#right #bottom #bottom-bottom{
	width: 1217px;
	height: 105px;
	background-color: white;
	border: #F3F7FA solid 1px;
	line-height: 20px;
	padding-top: 30px;
	
	
}
#right #bottom #bottom-bottom>p{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	color: black;
	font-size: 13px;
	font-weight: 500;
	}
